.git
.github
.gitignore
.editorconfig
.idea
.vscode
.opencode
.mimocode
.codegraph
.tmp
*.iml
**/target
.venv
browser-extension
deploy
docs
odd
openspec
sonar-project.properties
.commitlintrc.json
.compliance.json
.mvn/repository
*.log
